/* Container to hold both the form and image */
.contact-container {
  display: flex;
  /* height: 90vh; Full viewport height */
  width: 100%;
  background-color: #fff9f2;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 20px;
}

/* Form container */
.form-container {
  display: flex;
  /* height: 70vh; Reduce height */
  width: 60vw; /* Reduce width */
  border-radius: 20px;
  overflow: hidden;
  background-color: #423f3c;
  box-shadow: 0px 4px 10px rgba(170, 107, 107, 0.1);
  padding: 10px 0 0 0;
  gap: 0px;
}

/* Form section */
.form-section {
  width: 50%; /* Form takes 1/2 */
  padding: 30px;
  background-color: #f7f1ea;
}

/* .form {
  width: 100%;
} */

.h4-styling {
  margin: 0%;
  background-color: #fff9f2;
  text-align: center;
  font-size: 30px;
  color: rgb(86, 52, 37);
  padding-top: 20px;
}

/* Image section */
.image-container23 {
  width: 75%; /* Image takes 3/4 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("45-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 20px;
  position: relative;
}

.image-container23 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-container23 p {
  color: white;
}

.opacity-text {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0.4;
}

/* Form field styling */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px 2px;
  border: 1px solid #f0e5e5;
  border-radius: 5px;
  background-color: #fff9f2;
}

/* Submit button styling */
button {
  padding: 12px 29px;
  background-color: #a89185;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin: auto;
}

button:hover {
  background-color: #4b4640;
}

@media (max-width: 790px) {
  .contact-container {
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
  }

  .form-container {
    flex-direction: column-reverse;
    width: 95%;
    border-radius: 10px;
    padding: 0;
    margin-bottom: 30px;
  }

  .form-section {
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
  }

  .image-container23 {
    width: 95%; /* Make sure the image section takes full width */
    min-height: 300px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
  }

  .h4-styling {
    padding-bottom: 15px;
  }
}
